$blue: #ACECF7;
$orange: #EBD2B4;
$red: #F4989C;
$purple: #DAC4F7;
$green: #D6F6DD;

@mixin displayFlex ($justify ,$width, $direction) {
  display: flex;
  justify-content: $justify;
  width: $width;
  flex-direction: $direction;
}

.indexAmiibos {
  display: flex;
  flex-wrap: wrap;
}

.amiibo {
  width: 25%;
}

.createForm {
  @include displayFlex(center ,100%, column)
}
