$blue: #ACECF7;
$orange: #EBD2B4;
$red: #F4989C;
$purple: #DAC4F7;
$green: #D6F6DD;

@mixin centerChild ($width) {
  display: flex;
  justify-content: center;
  width: $width;
}

main {
  @include centerChild(100%)
}

.indexAmiibos {
  border: solid 2px blue;
  
}

.amiibo {
  width: 25%;

}