$blue: #ACECF7;
$orange: #EBD2B4;
$red: #F4989C;
$purple: #DAC4F7;
$green: #D6F6DD;
$YanFont: 'Yantramanav', sans-serif;

@mixin displayFlex ( $width, $direction) {
  display: flex;
  justify-content: center;
  width: $width;
  flex-direction: $direction;
  align-items: center;
}

.indexAmiibos {
  display: flex;
  flex-wrap: wrap;
  transition: 250ms;
}

.amiibo {
  width: 150px;
  max-height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 10px;
}

a{
  transition: 250ms;
}

a:hover {
  // background-color: #ACECF7;
  transform: scale(1.1);
  transition: 250ms ease-out;
}

.amiiboImg {
  max-height: 150px;
}

.indexAmiiboTitle {
  font-size: 20px;
  text-align: center;
  font-family: $YanFont;
  font-weight: 700;
  color: red;
}

h5 {
  font-size: 12px;
}

.createForm {
  @include displayFlex(100%, column)
}

.headerText {
  text-align: center;
  font-size: 3rem;
  margin: 0;
}

nav{
  background-color: red;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button{
  background-color: red !important;
  transition: 250ms;
  width: 25%;

}

.button:hover{
  transition: 250ms;
  transform: scale(.95)
}

.button:focus{
  background-color: yellow;
}

@media screen and (max-width: 600px) {
  .button{ 
    font-size: 10px !important;    justify-content: center;
  }
}

@media screen and (max-width: 350px) {
  .button{ 
    font-size: 6px !important;    justify-content: center;
    padding: 1px;
  }
}

main {
  margin: 0px auto;
  @include displayFlex(100%, column);

}

.amiiboShow {
  @include displayFlex(70%, column);
  margin: 2em auto;
}

body {
  font-family: $YanFont;
}

.amiiboShowText h1 {
  font-size: 3rem;
  font-weight: 1000;
  font-family: $YanFont;
  color: rgb(156, 0, 0);
  margin: 2rem auto;
}

.amiiboShowTitle {
  font-size: 3rem
}

.amiiboShow h2 {
  margin: 2rem auto;
}

.amiiboShow h4 {
  font-size: 1.2em;
  margin: 20px auto;
}

.amiiboShowDiv {
  @include displayFlex(100%, row-reverse);
  margin: 0px;
}

.editForm {
  margin-top: 2em !important;
  width: 50%;
}

.amiiboShowDiv img {
  height: 400px;
  max-width: 400px;
  margin: 0;
}

.amiiboShowText {
  margin: 0px 2em;
  text-align: center;
  height: 400px;
  width: 400px;
}

.editForm form .button {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 194, 0) !important;
  margin: 1em auto;
}

.editForm {
  @include displayFlex(70%, column);
}

.amiiboShow button {
  margin: 1em auto;
}

@media screen and (max-width: 500px) {
  .amiiboShowTitle {
    font-size: 1.5rem;
  }
  .amiiboShowDiv {
    font-size: 12px;
  }
  .amiiboShowText h1 {
    font-size: 1em;
  }
  .amiiboShowDiv img {
    width: 10rem;
    height: 10rem;
  }
}

@media screen and (max-width: 350px) {
  .amiiboShowTitle {
    font-size: 1.5rem;
  }
  .amiiboShowDiv {
    font-size: 12px;
  }
  .amiiboShowText h1 {
    font-size: 1em;
  }
  .amiiboShowDiv img {
    width: 10rem;
    height: 10rem;
  }
  .amiiboShow {
    margin: 0;
  }
  main {
    margin: 0;
  }
}

.index {
  @include displayFlex(100%, column);
}

.modalButton {
  margin: 2rem;
}

.createModal {
  margin: 5em auto;
  background-color: white;
  @include displayFlex(80%, column);
  border-radius: 10px;
  border: solid rgb(214, 214, 214) 2px;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.096) 6px 6px 4px;
}

.X {
  margin: 10px;
}
//make the form in the modal